@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url(/fontes/idroid.otf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --fonte-android: 'Android', 'Cursive';
    --fonte-principal: "Bebas Neue", sans-serif;
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;

    --corA: #ebe5c5;
    --corB: #83e1ab;
    --corC: #3ddc84;
    --corD: #2fa866;
    --corE: #1a5c37;
    --corF: #063d1e;
}

body{
    background-color: var(--corA);
    font-family: var(--fonte-padrao);
}

header{
    background-image: linear-gradient(to bottom, var(--corD), var(--corF));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: white;
    font-family: var(--fonte-principal);
    margin-bottom: 20px;
    font-size: 3rem;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
}

header > p {
    color: white;
    font-family: var(--fonte-principal);
    font-size: 1.2rem;
    max-width: 500px;
    padding-inline: 10px;
    margin: auto;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.25);
}

nav {
    background-color: var(--corF);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.25);
}

nav > a{
    padding: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav > a:hover{
    background-color: var(--corD);
    color: var(--corF);
}

main {
    padding: 20px;
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1{
    color: var(--corF);
}

main h1, h2{
    font-family: var(--fonte-android);
}

main img{
    width: 100%;
}

main img.pequena{
    width: 50%;
    display: block;
    margin: auto;
}

footer{
    background-color: var(--corF);
    color: white;
}